<div class="container">
  <div class="upper-data">
    <!-- in this upper data we will implement the basic infomration about the weather.
      In addition to that allow for the background to change according to the weather. -->
    <img src="" *ngIf="14 > 15" />
    <img src="" *ngIf="14 <= 15" />
    <div class="weather-data">
      <div class="location"></div>
      <div class="temperature">{{ null | number: "1.0-0" }}°C</div>
    </div>
  </div>
  <div class="lower-data"></div>
</div>

<router-outlet></router-outlet>
